{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - Students Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'management/img/favicon.pngc"  rel="icon">
    <link href="{% static 'management/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'management/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'management/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'management/css/style.css' %}" rel="stylesheet">
    <!-- fontawesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--bootstrap cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center">
            <img src="{% static 'management/img/main_icon.png' %}" alt="img">
            <span class="d-none d-lg-block">SMS</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <div class="search-bar" >
        <span style="display: inline-block;width:1000px"></span>
    </div>
    <div class="search-bar" >
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <div class="search-bar">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="profile-pic" src="{{ request.user.profile_image.url }}" alt={{user}}  style="width:50px">{{ request.user.username|truncatechars:15 }}
            </button>
            <ul class="dropdown-menu"style="background-color:#c9c9c9">
                <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user fa-2xs"  aria-hidden="true"></i>&nbsp;Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'profile-edit' request.user.id %}">
                    <i class="fa fa-cogs fa-2xs" aria-hidden="true"></i>&nbsp;Setting</a></li>
                <hr>
                <li><a class="btn btn-light" href="{% url 'logout' %}">
             <i class="fa fa-sign-out " aria-hidden="true"></i> &nbsp;Logout</a></li>
            </ul>
        </div>
    </div>
</header>



<!--sidebar for each user-->
{% include "common/sidebar.html" %}

{% block content %}
<!--Contents-->
{% endblock content %}

<!--footer -->
{% include "common/footer.html" %}


<!-- Vendor JS Files -->
<script src="{% static 'management/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'management/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'management/vendor/chart.js/chart.umd.js' %}"></script>
<script src="{% static 'management/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'management/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'management/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'management/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'management/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'management/js/main.js' %}"></script>

</body>

</html>