{% extends 'common/base.html' %}
{% load static %}

{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<section style="background-color: #eee;font-variant: normal;font-weight: bold;">
    <div class="container">
        <hr>
        <div class="row px-4 py-5 mx-5">
            <div class="col-xl-4">
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="submit" style=" background-color: #4CAF50;border-radius:10px;color: white;padding: 10px;text-align: center;
                           font-size: 14px;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}